/* Stili di pagina generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile contenitore principale header */
.contenitore_header{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
}

/* Colore dei simboli e dello speaker view */
i , span{
    color: white;
    padding: 3px;
}

/* Stile dei contenuti all'interno di header e centralizzazione */
.speaker_view , .full_screen{
    background-color: #4a4a4a;
    height: 25px;
    padding: 5px;
    margin: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
}

/* Stili del contenitore del contenuto principale della pagina */
.contenitore_main{
    height: 100vh;
    background-color: black;
}

/* Contenitore di Pinco Pallo SINGOLO */
.contenitore_card{
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
}

/* Label */
.label{
    position: absolute;
    background-color: #63707a;
    padding: 3px;
    left: 0;
    bottom: 3%;
}
