/* Stili di pagina generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile contenitore principale header */
.contenitore_header{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
}

/* Colore dei simboli e dello speaker view */
i , span{
    color: white;
    padding: 3px;
}

/* Stile dei contenuti all'interno di header e centralizzazione */
.speaker_view , .full_screen{
    background-color: #4a4a4a;
    height: 25px;
    padding: 5px;
    margin: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
}

/* Stili del contenitore del contenuto principale della pagina */
.contenitore_main{
    height: 100vh;
    background-color: black;
    overflow-y: scroll;
    padding-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Contenitore di Pinco Pallo SINGOLO */
.contenitore_card{
    position: relative;
    margin-bottom: 5px;
    margin-right: 3px;
    display: inline-block;
}

/* Label */
.label{
    position: absolute;
    background-color: #63707a;
    padding: 3px;
    left: 0;
    bottom: 3%;
    z-index: 5;
}

/* Grandezza img */
.contenitore_card{
    background-size: cover;
}
.img_card{
    width: 100%;
    height: auto;
}

/* Stili principali del contenitore footer */
.contenitore_footer{
    height: 100px;
    width: 100%;
    background-color: #222222;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/* Grandezza font icone */
.contenitore_footer i{
    font-size: 30px;
}
.contenitore_footer span{
    display: block;
}

/* Padding vario per sistemare ulteriormente le cose */
.icons{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fa-microphone , .fa-video , .fa-user-plus , .fa-users , .fa-chart-column , .fa-share-from-square , .fa-comment , .fa-record-vinyl , .fa-table-cells-large , .fa-ellipsis{
    padding: 10px;
}

/* Parte sulla sinistra del footer */
.left_side{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Parte centrale del footer */
.center_part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

/* Parte sulla destra del footer */
.right_side{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a4a4a;
    width: 150px;
}
#color_exit{
    color: #f30519;
}
a{
    text-decoration: none;
}
/* Arrow UP */
.arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#fix{
    /* Fix arrow */
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: middle;
}